@using EPAM.ListUserAward.WebPages.Models;
@using EPAM.ListUserAward.WebPages.Controller;
@using EPAM.ListUser.Ioc;
@using EPAM.ListUsers.Entities;
@using EPAM.ListUserAward.WebPages.Common;
@{
    Layout = null;

    if (User.IsInRole("User"))
    {
        Response.Redirect("~/");
    }

    string resultUser = null;
    string resultEmail = null;
    string nameAddUser = null;
    string titleAddAward = null;
    Award titleDeleteAward = null;
    string dobAddUser = null;

    int _count = 1;
    bool hideModalShow = true;
    bool hideModalEmailShow = true;
    bool hideMoadlAddUserShow = true;
    bool hideMoadlAddAwardShow = true;
    bool hideMoadlDeleteAwardShow = true;

    List<int> _listAwardUser = new List<int>();

    LoginController loginController = new LoginController();
    var userLogic = DependencyResolver.UserLogic;
    var awardLogic = DependencyResolver.AwardLogic;
    var _authModel = new AuthModel();
    var messageRole = "";
    var logoUser = "";
    var hideMoadLogoUserLoadShow = true;
    UserAuth userEmail = null;

    foreach (var authEmail in _authModel.GetAll())
    {
        if (authEmail.Email == User.Identity.Name)
        {
            messageRole = authEmail.UserRights;
            logoUser = authEmail.UserLogo;
            userEmail = authEmail;
        }
    }

    if (IsPost)
    {
        if (Request["id"] != null)
        {
            foreach (var userPost in userLogic.GetAll())
            {
                if (double.Parse(Request["id"]) == userPost.Id)
                {
                    resultUser = userPost.Name;
                    hideModalShow = false;
                }
            }
        }
        else if (Request["idDelete"] != null)
        {
            userLogic.DeletedById(int.Parse(Request["idDelete"]));
        }
        else if (Request["idEmail"] != null)
        {
            foreach (var itemEmailPost in _authModel.GetAll())
            {
                if (double.Parse(Request["idEmail"]) == itemEmailPost.Id)
                {
                    resultEmail = itemEmailPost.Email;
                    hideModalEmailShow = false;
                }
            }
        }
        else if (Request["idAddUser"] != null)
        {
            hideMoadlAddUserShow = false;
        }
        //TODO: Combine in once method!
        else if (Request["nameAddUser"] != null && Request["dobAddUser"] != null)
        {
            var addUser = userLogic.Add(new User());

            addUser.Name = Request["nameAddUser"];
            addUser.DateOfBirthday = DateTime.Parse(Request["dobAddUser"]);

            if (Request["idSelectAwardAddUser"] != "none")
            {
                addUser.userAward = new List<int>() { int.Parse(Request["idSelectAwardAddUser"]) };
            }
        }
        else if (Request["UserNameEdit"] != null && Request["UserDateOfBirthdayEdit"] != null)
        {
            foreach (var user in userLogic.GetAll())
            {
                if (int.Parse(Request["UserIdEdit"]) == user.Id)
                {
                    user.Name = Request["UserNameEdit"];
                    user.DateOfBirthday = DateTime.Parse(Request["UserDateOfBirthdayEdit"]);
                    if (Request["idSelectAwardEditUser"] != "none")
                    {
                        user.userAward.Add(int.Parse(Request["idSelectAwardEditUser"]));
                    }
                    break;
                }
            }
        }
        else if (Request["idAwardUser"] != null)
        {
            hideMoadlAddAwardShow = false;
        }
        else if (Request["titleAddAward"] != null)
        {
            awardLogic.Add(new Award()
            {
                Title = Request["titleAddAward"]
            });
        }
        else if (Request["idAwardDelete"] != null)
        {
            hideMoadlDeleteAwardShow = false;
            titleDeleteAward = awardLogic.GetById(int.Parse(Request["idAwardDelete"]));

            foreach (var user in userLogic.GetAll())
            {
                userLogic.DeletedByIdAward(user.Id, int.Parse(Request["idAwardDelete"]));
            }

            awardLogic.DeletedById(int.Parse(Request["idAwardDelete"]));

            foreach (var award in awardLogic.GetAll())
            {
                
            }
        }
        else if (Request["idSelectUserRights"] != null)
        {
            foreach (var userSite in _authModel.GetAll())
            {
                if (Request["UserEmail"] == userSite.Email)
                {
                    userSite.UserRights = Request["idSelectUserRights"];
                    if (userSite.UserRights == "Ban")
                    {
                        _authModel.DeletedById(userSite.Id);
                        break;
                    }
                }
            }
        }
        else if (Request["editUserLogo"] != null)
        {
            hideMoadLogoUserLoadShow = false;
        }
        else if (Request["linkAddImage"] != null)
        {
            userEmail.UserLogo = Request["linkAddImage"];
        }

    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/css/IndexStyle.css" rel="stylesheet" />
    <title>UserAward: admin panel</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="~/index">
            <img class="imgLogo" src="https://www.bloomreach.com/binaries/ninecolumn/content/gallery/bloomreach.com_2/partners/solution-partners/epam_logo_full_color_rgb.png" width="80" height="30" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-list-4">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @User.Identity.Name
                        <img src="@logoUser" width="40" height="40" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <form action="~/Pages/AdminPanel.cshtml" method="post">
                            <input class="form-control" type="hidden" name="editUserLogo" value="1" style="width:0px" />
                            <button class="dropdown-item">Edit picture</button>
                        </form>
                        <a id="btn_logOut" class="dropdown-item" href="#">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <div aria-live="polite" data-autohide="true" aria-atomic="true" style="position: relative;">
            <div class="toast" style="position: absolute; top: 100px; right: 50px; box-shadow: 0 0 15px rgba(0,0,0,0.3);">
                <div class="toast-header" style="width: 350px;">
                    <img src="~/wwwroot/pic/Index/check_circle-24px.svg" class="rounded mr-2" alt="check">
                    <strong class="mr-auto">Hello! @User.Identity.Name</strong>
                    <small>1 sec ago</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body" style="color: white; background-color: #83d1db;">
                    @messageRole
                </div>
            </div>
        </div>
    </div>
    <main role="main" class="container">
        <div class="my-3 p-3 bg-dark rounded box-shadow">
            <h3 class="text-center">Table user-award</h3>
        </div>
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="media text-muted pt-3 border-bottom border-gray">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Award</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{_count = 1;}
                        @foreach (var user in userLogic.GetAll())
                        {
                            <tr>
                                <td>@(_count++)</td>
                                <td>@user.Id</td>
                                <td>@user.Name</td>
                                <td>@user.Age</td>
                                <td>
                                    @if (user.userAward != null)
                                    {
                                        foreach (var awardUser in user.userAward)
                                        {
                                            foreach (var award in awardLogic.GetAll())
                                            {
                                                if (awardUser == award.Id)
                                                {
                                                    @award.Title<br />

                                                }
                                            }
                                        }
                                    }
                                </td>
                                <td>
                                    <form action="~/Pages/AdminPanel.cshtml" method="post">
                                        <input class="form-control" type="hidden" name="id" value="@user.Id" style="width:0px" />
                                        <button class="btn btn-primary">Edit</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="~/Pages/AdminPanel.cshtml" method="post">
                                        <input class="form-control" type="hidden" name="idDelete" value="@user.Id" style="width:0px" />
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <form action="~/Pages/AdminPanel.cshtml" method="post">
                                    <input class="form-control" type="hidden" name="idAddUser" value="1" style="width:0px" />
                                    <button class="btn btn-success">Add</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <small class="d-block text-right mt-3">
                <a href="~/Pages/AdminPanel">All updates</a>
            </small>
        </div>
        <div class="my-3 p-3 bg-dark rounded box-shadow">
            <h3 class="text-center">Table award-user</h3>
        </div>
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="media text-muted pt-3 border-bottom border-gray">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Name</th>
                            @*<th></th>*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{_count = 1;}
                        @foreach (var award in awardLogic.GetAll())
                        {
                            <tr>
                                <td>@(_count++)</td>
                                <td>@award.Id</td>
                                <td>@award.Title</td>
                                <td>
                                    @foreach (var user in userLogic.GetAll())
                                    {
                                        if (user.userAward != null)
                                        {
                                            foreach (var awardUser in user.userAward)
                                            {
                                                if (awardUser == award.Id)
                                                {
                                                    @user.Name<br />
                                                }
                                            }
                                        }
                                    }
                                </td>
                                @*<td>
                                    <form action="~/Pages/AdminPanel.cshtml" method="post">
                                        <input class="form-control" type="hidden" name="id" value="@award.Id" style="width:0px" />
                                        <button class="btn btn-primary">Edit</button>
                                    </form>
                                </td>*@
                                <td>
                                    <form action="~/Pages/AdminPanel.cshtml" method="post">
                                        <input class="form-control" type="hidden" name="idAwardDelete" value="@award.Id" style="width:0px" />
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <form action="~/Pages/AdminPanel.cshtml" method="post">
                                    <input class="form-control" type="hidden" name="idAwardUser" value="1" style="width:0px" />
                                    <button class="btn btn-success">Add</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <small class="d-block text-right mt-3">
                <a href="~/Pages/AdminPanel">All updates</a>
            </small>
        </div>
        <div class="my-3 p-3 bg-success rounded box-shadow">
            <h3 class="text-center">Table user/admin</h3>
        </div>
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="media text-muted pt-3 border-bottom border-gray">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Telephone</th>
                            <th>UserRights</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{_count = 1;}
                        @foreach (var user in _authModel.GetAll().Skip(1))
                        {
                            <tr>
                                <td>@(_count++)</td>
                                <td>@user.Id</td>
                                <td>@user.Email</td>
                                <td>@user.Password</td>
                                <td>@user.Telephone</td>
                                <td>@user.UserRights</td>
                                <td>
                                    <form action="~/Pages/AdminPanel.cshtml" method="post">
                                        <input class="form-control" type="hidden" name="idEmail" value="@user.Id" style="width:0px" />
                                        <button class="btn btn-primary">Edit</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <small class="d-block text-right mt-3">
                <a href="~/Pages/AdminPanel">All updates</a>
            </small>
        </div>
        <!-- ModalUser -->
        @if (!hideModalShow)
        {
            <div class="modal" id="myModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Edit @resultUser</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="~/Pages/AdminPanel.cshtml" method="post">
                            <div class="modal-body">
                                <table class="table table-hover" cellspacing="0">
                                    @foreach (var user in userLogic.GetAll())
                                    {
                                        if (user.Name == resultUser)
                                        {
                                            <tr>
                                                <td>User Id</td>
                                                <td style="text-align:center;">@user.Id</td>
                                                <td><input type="hidden" name="UserIdEdit" value="@user.Id" /></td>
                                            </tr>
                                            <tr>
                                                <td>Name user</td>
                                                <td><input type="text" name="UserNameEdit" value="@user.Name" /></td>
                                            </tr>
                                            <tr>
                                                <td>Format date: "01.01.1111"</td>
                                                <td><input type="text" name="UserDateOfBirthdayEdit" value="@user.DateOfBirthday" /></td>
                                            </tr>
                                        }
                                    }

                                    <tr>
                                        <td>Award</td>
                                        <td>
                                            <div class="form-group">
                                                @*<label for="exampleFormControlSelect2">Select award</label>*@
                                                <select multiple class="form-control" id="exampleFormControlSelect2">
                                                    @foreach (var user in userLogic.GetAll())
                                                    {
                                                        if (user.Name == resultUser)
                                                        {
                                                            if (user.userAward != null)
                                                            {
                                                                foreach (var awardUser in user.userAward)
                                                                {
                                                                    foreach (var award in awardLogic.GetAll())
                                                                    {
                                                                        if (awardUser == award.Id)
                                                                        {
                                                                            <option>@award.Title</option>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select name="idSelectAwardEditUser" class="form-control" id="exampleFormControlSelect6">
                                                    <option value="none">none</option>
                                                    @foreach (var user in userLogic.GetAll())
                                                    {
                                                        foreach (var awardTitle in awardLogic.GetAll())
                                                        {
                                                            if (user.userAward != null)
                                                            {
                                                                foreach (var userAwardId in user.userAward)
                                                                {
                                                                    if (userAwardId != awardTitle.Id)
                                                                    {
                                                                        <option value="@awardTitle.Id">@awardTitle.Title</option>
                                                                    }
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <option value="@awardTitle.Id">@awardTitle.Title</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
        <!-- ModalEmail -->
        @if (!hideModalEmailShow)
        {
            <div class="modal" id="myModalEmail" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Edit @resultEmail</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="~/Pages/AdminPanel.cshtml" method="post">
                            <div class="modal-body">
                                <table class="table table-hover" cellspacing="0">
                                    @foreach (var userSite in _authModel.GetAll())
                                    {
                                        if (userSite.Email == resultEmail)
                                        {
                                            <tr>
                                                <td>Email user</td>
                                                <td><input type="text" name="UserEmail" value="@userSite.Email" /></td>
                                            </tr>
                                            <tr>
                                                <td>Password</td>
                                                <td><input type="text" name="UserPassword" value="@userSite.Password" /></td>
                                            </tr>
                                            <tr>
                                                <td>Telephone</td>
                                                <td><input type="text" name="UserTelephone" value="@userSite.Telephone" /></td>
                                            </tr>
                                            <tr>
                                                <td>UserRights: @userSite.UserRights</td>
                                                <td>
                                                    <div class="form-group">
                                                        <select name="idSelectUserRights" class="form-control" id="exampleFormControlSelect7">
                                                            (@if (userSite.UserRights == "User")
                                                            {
                                                                <option value="User">User</option>
                                                                <option value="Admin">Admin</option>
                                                                <option class="text-danger" value="Ban">Ban</option>
                                                            }
                                                            else if (userSite.UserRights == "Admin")
                                                            {
                                                                <option value="Admin">Admin</option>
                                                                <option value="User">User</option>
                                                                <option class="text-danger" value="Ban">Ban</option>
                                                            })

                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
        <!-- ModalAddUser -->
        @if (!hideMoadlAddUserShow)
        {
            <div class="modal" id="myModalAddUser" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="~/Pages/AdminPanel.cshtml" method="post">
                            <div class="modal-body">
                                <table class="table table-hover" cellspacing="0">
                                    <tr>
                                        <td>Name</td>
                                        <td><input type="text" name="nameAddUser" value="@nameAddUser" /></td>
                                    </tr>
                                    <tr>
                                        <td>Date of Birthday("01.01.9999")</td>
                                        <td><input type="text" name="dobAddUser" value="@dobAddUser" /></td>
                                    </tr>
                                    <tr>
                                        <td>Award list</td>
                                        <td>
                                            <div class="form-group">
                                                <select name="idSelectAwardAddUser" class="form-control" id="exampleFormControlSelect5">
                                                    <option value="none">none</option>
                                                    @foreach (var awardTitle in awardLogic.GetAll())
                                                    {
                                                        <option value="@awardTitle.Id">@awardTitle.Title</option>
                                                    }
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary">Create user</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
        <!-- ModalAddAward -->
        @if (!hideMoadlAddAwardShow)
        {
            <div class="modal" id="myModalAddAward" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add Award</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="~/Pages/AdminPanel.cshtml" method="post">
                            <div class="modal-body">
                                <table class="table table-hover" cellspacing="0">
                                    <tr>
                                        <td>Title</td>
                                        <td><input type="text" name="titleAddAward" value="@titleAddAward" /></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary">Create award</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
        <!-- ModalDeleteAward -->
        @if (!hideMoadlDeleteAwardShow)
        {
            <div class="modal" id="myModalDeleteAward" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Delete @titleDeleteAward.Title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="~/Pages/AdminPanel.cshtml" method="post">
                            <div class="modal-body">
                                <p>Delete award all users?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-danger">Delete award</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
        <!-- ModalLogoUserLoad -->
        @if (!hideMoadLogoUserLoadShow)
        {
            <div class="modal" id="myModalLogoUserLoad" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add link to your pic</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="~/Pages/AdminPanel.cshtml" method="post">
                            <div class="modal-body">
                                <table class="table table-hover" cellspacing="0">
                                    <tr>
                                        <td>Link image</td>
                                        <td><input type="text" name="linkAddImage" value="@logoUser" /></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary">Save image</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </main>

    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/popper.js"></script>

    <script>
        $('#btn_logOut').click(function () {
            location.href = "/Pages/SignOut";
        })

        $('#myModal').modal('show');
        $('#myModalEmail').modal('show');
        $('#myModalAddUser').modal('show');
        $('#myModalAddAward').modal('show');
        $('#myModalDeleteAward').modal('show');
        $('#myModalLogoUserLoad').modal('show');

        $('.toast').toast(
            {
                animation: true,
                autohide: true,
                delay: 5000
            })
        $('.toast').toast('show');
    </script>
</body>
</html>
