@using EPAM.ListUserAward.WebPages.Controller;
@using EPAM.ListUser.Ioc;
@{

    Layout = null;
    int _count = 1;

    LoginController loginController = new LoginController();
    var userLogic = DependencyResolver.UserLogic;
    string email = null, pass = null;

    email = Request["email"];
    pass = Request["pass"];

    if (IsPost && pass == "admin")
    {

        FormsAuthentication.SetAuthCookie(email, createPersistentCookie: true);

        Response.Redirect("~");
    }
    else
    {
        loginController.ResponseUserList();
    }

    

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/css/LoginStyle.css" rel="stylesheet" />
    <link href="~/wwwroot/css/Login2Style.css" rel="stylesheet" />
    <title>Log in EPAM.UserAward</title>
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <!--1-->
                <div class="login100-pic js-tilt" data-tilt>
                    @*<img src="images/img-01.png" alt="IMG">*@
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Age</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in userLogic.GetAll())
                             {
                                <tr>
                                    <td>@(_count++)</td>
                                    <td>@user.Name</td>
                                    <td>@user.Age</td>
                                </tr>
                             }
                        </tbody>
                    </table>
                </div>
                <!--2-->
                <form action="~/Pages/Login" method="post" class="login100-form validate-form">
                    <span class="login100-form-title">
                        Log in to see Awards
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="email" id="email" placeholder="Email" value="@email">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="pass" id="pass" placeholder="Password" value="@pass">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">Login</button>
                    </div>

                    <div class="text-center p-t-12">
                        <span class="txt1">Forgot</span>
                        <a class="txt2" href="#">Username / Password?</a>
                    </div>

                    <div class="text-center p-t-136">
                        <a class="txt2" href="#">
                            Create your Account
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/wwwroot/Script/LoginScript.js"></script>

</body>
</html>
