@using DealShop.ListUsers.Entities;
@using DealShop.ListUsers.Ioc;
@using DealShop.Models;
@{
    Layout = "~/Pages/Layouts/_MainLayout.cshtml";
    PageData["Title"] = "Men";

    var productLogic = DependencyResolver.ProductLogic;
    var userLogic = DependencyResolver.UserLogic;
    Checkout checkout = new Checkout();



    if (IsPost)
    {
        if (Request["valueCount"] != null && Request["productCartName"] != null)
        {
            var productCartName = Request["productCartName"];
            var valueCount = Request["valueCount"];

            User user = userLogic.GetAll().Single(x => x.LoginEmail == User.Identity.Name);

            checkout.AddCheckout(productCartName, valueCount, user.Id);
        }
        
    }

}
<head>
    <link href="~/wwwroot/css/menStyle.css" rel="stylesheet" />
</head>
<!-- Main -->
<div class="container">
    <div class="row">
        @foreach (var product in productLogic.GetAll().Where(x => x.Gender == "Male"))
        {
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQB6WnVxsP_t2OyjloRYpbCMw5M11JTr6htHFSi4stSb68ikJco" alt="@product.Description">
                    <div class="card-block">
                        <h4 class="card-title">@product.NameProduct</h4>
                        <p class="card-text">Price: @product.Price</p>
                        <a href="#" data-name="@product.NameProduct" data-price="@product.Price" class="add-to-cart btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="~/Pages/Men" method="post">
                <div class="modal-body">

                    <table class="show-cart table">
                    </table>

                    <div>Total price: ₽<span class="total-cart"></span></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Order now</button>
                    <button class="clear-cart btn btn-danger">Clear Cart</button>
                </div>
            </form>
        </div>
    </div>
</div> 