@using DealShop.ListUsers.Entities;
@using DealShop.ListUsers.Ioc;
@using DealShop.Models;
@{
    Layout = "~/Pages/Layouts/_MainLayout.cshtml";
    PageData["Title"] = "Woman";

    var productLogic = DependencyResolver.ProductLogic;
}
<head>
    <link href="~/wwwroot/css/menStyle.css" rel="stylesheet" />
</head>
<!-- Main -->
<div class="container">
    <div class="row">
        @foreach (var product in productLogic.GetAll().Where(x => x.Gender == "Female"))
        {
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="https://images.asos-media.com/products/asos-design-split-sleeve-mini-dress-with-obi-belt/11500891-4?$XXL$&wid=513&fit=constrain" alt="@product.Description">
                    <div class="card-block">
                        <h4 class="card-title">@product.NameProduct</h4>
                        <p class="card-text">Price: @product.Price</p>
                        <a href="#" data-name="@product.NameProduct" data-price="@product.Price" class="add-to-cart btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="~/Pages/Woman" method="post">
                <div class="modal-body">

                    <table class="show-cart table">
                    </table>

                    <div>Total price: ₽<span class="total-cart"></span></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Order now</button>
                    <button class="clear-cart btn btn-danger">Clear Cart</button>
                </div>
            </form>
        </div>
    </div>
</div>
