@using DealShop.Models;
@{
    Layout = null;

    MessageUserRight messageUserRight = new MessageUserRight(); 
    string path = HttpContext.Current.Request.Url.AbsolutePath;
    string Woman = "";
    string Men = "";
    
    #region check page 
    if (path == "/Pages/Men.cshtml" || path == "/Pages/Men")
    {
        Men = "active";
    }
    else if (path == "/Pages/Woman.cshtml" || path == "/Pages/Woman")
    {
        Woman = "active";
    }
    #endregion

    var messageRole = messageUserRight.GetUserRight(User.Identity.Name);


}

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" id="bootstrap-css" />
        <link href="~/wwwroot/css/Index.css" rel="stylesheet" />
        <link href="~/wwwroot/css/megaMenu.css" rel="stylesheet" />
        <title>@PageData["Title"]</title>
    </head>
    <body>
        <header>
            <!--Navbar -->
            <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark p-3 pr-5 pl-5">
                <a class="navbar-brand" href="~/Index">DEAL</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item @Woman">
                            <a class="nav-link" href="~/Pages/Woman.cshtml">Woman<span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item @Men">
                            <a class="nav-link" href="~/Pages/Men.cshtml">Men<span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="#" alt="" class="img-fluid" />
                                        <h4 style="color: cornflowerblue">Lorem</h4>
                                        <p>Lorem lorem lorem</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p><strong class="sub-menu-heading">ITEM</strong></p>
                                        <p><a href="#">Item Number 1</a></p>
                                        <p><a href="#">Item Number 1</a></p>
                                        <p><a href="#">Item Number 1</a></p>
                                        <p><a href="#">Item Number 1</a></p>
                                        <p><a href="#">Item Number 1</a></p>
                                    </div>
                                    <div class="col-md-3">
                                        <p><strong class="sub-menu-heading">ITEM</strong></p>
                                        <p><a href="#">Item Number 1</a></p>
                                        <p><a href="#">Item Number 1</a></p>
                                        <p><a href="#">Item Number 1</a></p>
                                        <p><a href="#">Item Number 1</a></p>
                                        <p><a href="#">Item Number 1</a></p>
                                    </div>
                                    <div class="col-md-3">
                                        <p><strong class="sub-menu-heading">ITEM</strong></p>
                                        <p><a href="#">Item Number 1</a></p>
                                        <p><a href="#">Item Number 1</a></p>
                                        <p><a href="#">Item Number 1</a></p>
                                        <p><a href="#">Item Number 1</a></p>
                                        <p><a href="#">Item Number 1</a></p>
                                    </div>
                                </div>
                                @*<a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>*@
                            </div>
                        </li>
                    </ul>
                    <form class="navbar-form my-2 my-lg-0" action="">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="search">
                            <div class="input-group-btn">
                                <button class="btn btn-secondary" type="submit">
                                    Search
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-nav">
                        @if (User.IsInRole("SuperAdmin") || User.IsInRole("User") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item p-lg-2">
                                <a class="nav-link" type="button" href="#" data-toggle="modal" data-target="#cart">
                                    Trash (<span class="total-count"></span>)
                                </a>
                            </li>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @User.Identity.Name
                                }
                                else
                                {
                                    @:Registration/Login
                                }
                                <img src="" width="40" height="40" class="rounded-circle">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                @if (User.IsInRole("SuperAdmin") || User.IsInRole("User") || User.IsInRole("Admin"))
                                {
                                    <a id="btn_Profile" class="dropdown-item" href="/Pages/Profile.cshtml">Profile</a>
                                    <a id="btn_logOut" class="dropdown-item" href="#">LogOut</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" href="~/Pages/Login.cshtml">LogIn</a>
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--/.Navbar -->
        </header>
        @if (User.Identity.IsAuthenticated)
        { 
            <div>
                <div aria-live="polite" data-autohide="true" aria-atomic="true" style="position: relative;">
                    <div class="toast" style="position: absolute; top: auto; right: 50px;">
                        <div class="toast-header" style="width: 350px;">
                            <img src="~/wwwroot/pic/check_circle-24px.svg" class="rounded mr-2" alt="check">
                            <strong class="mr-auto">Hello! @User.Identity.Name</strong>
                            <small>1 sec ago</small>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="toast-body" style="color: white; background-color: dimgray;">
                            @messageRole
                        </div>
                    </div>
                </div>
            </div>
        }
        <div>
            @RenderBody()
        </div>
        <script src="~/Scripts/jquery-3.0.0.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/popper.js"></script>
        <script src="~/wwwroot/scripts/shopingCart.js"></script>
        <script src="~/wwwroot/scripts/LogOut.js"></script>
        <script src="~/wwwroot/scripts/mainLoyoutNavbar.js"></script>
    </body>
</html>
